.footer {
    background: #009de4;
    border: solid 1px black;
    width: 100%;
    text-align: center;
}

.header {
    background: #009de4;
    border: solid 1px black;
    width: 100%;
    text-align: center;
}