.go-back-button-news-st {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
    background: #0fc3f5;
    transition: .3s;
}

body {
    background: url("/resources/pictures/background/books.jpg") fixed;
}

h1 {
    text-transform: uppercase;
    color: #e6e6e6;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    color: #e6e6e6;
    text-transform: uppercase;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: bold;

}

tr {
    background: rgba(0, 0, 0, .6);
}

td {
    height: 50px;
}

th {
    height: 50px;
    background: rgba(6, 76, 96, .6);
}