label, textarea {
    font-size: .9rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    line-height: 1.5;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}

.go-back {
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: #0fc3f5;
}

body {
    margin: 0;
    padding: 0;
    color: #ddd;
    background: url("/resources/pictures/background/books.jpg") no-repeat fixed;
}

.last-comment {
    padding-top: 1px;
    padding-bottom: 10px;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    background: rgba(6, 76, 96, .6);
}

.last-comment h5 {
    font-size: 20px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.last-comment h1 {

}

#get-all-comments {
    margin-top: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: #9DB82E;
    width: 100%;
}

#import_file {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: rgba(6, 76, 96, .6);
}

#export_pdf {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: rgba(6, 76, 96, .6);
}

#save_report {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: #9DB82E;
    width: 200px;
}

.select-lang {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    background: rgba(6, 76, 96, .6);
}