label, textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;

    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}

.go-back {
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: #0fc3f5;
}

body {
    margin: 0;
    padding: 0;
    color: #ddd;
    background: url("/resources/pictures/background/books.jpg") no-repeat;
}

.last-comment {

}

.all-comments {

}
#export_pdf {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: rgba(6, 76, 96, .6);
}

#save_report {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: #9DB82E;
    width: 200px;
}

.select-lang {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    background: rgba(6, 76, 96, .6);
}