body
{
    background: url("/resources/pictures/background/books.jpg");
}
#fp
{
    font-size:15vw;
    font-family:Jacques Francois Shadow;
}
#lp
{
    font-family:Raleway;
}
.n
{
    height:15vw;
    width:70%;
    box-shadow:0 0 10px 5px #212121;
    display:none;
    background:white;

    margin-top: 10px;
    overflow-x: auto;
}
button
{
    height:11vw;
    width:28vw;

    margin:1vw;
    font-size:3vw;

    background: rgba(0, 0, 0, .6);
    color: #e6e6e6;
}
#pb1,#pb2,#pb3,#pb4,#pb5
{
    font-size: 2vw;
    text-decoration: none;
    font-style: none;
}
#li1,#li2,#li3,#li4,#li5
{

}
#tit1,#tit2,#tit3,#tit4,#tit5
{
    font-family:Alegreya;
}
#des1,#des2,#des3,#des4,#des5
{
    font-family:Times New Roman;
}

.go-back {
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    background: #0fc3f5;
}