body {
    margin: 0;
    padding: 0;
    color: #ddd;
    font-size: 12px;
    line-height: 1.6em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: url("/resources/pictures/background/books.jpg") fixed;
}

a, a:link, a:visited {
    color: #9CF;
    font-weight: normal;
    text-decoration: none
}

a:hover {
    color: #FF6;
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2 {
    color: #fff;
    font-weight: normal;
}

h1 {
    font-size: 58px;
    margin: 0 0 30px;
    padding: 5px 0
}

h2 {
    font-size: 34px;
    margin: 0 0 30px;
    padding: 5px 0
}


p {
    padding: 0;
    margin: 0 0 15px 0
}


cite {
    font-weight: bold;
    color: #fff;
}

cite a, cite a:link, cite a:visited {
    font-size: 12px;
    text-decoration: none;
    font-style: normal
}

cite span {
    font-weight: 400;
    color: #ccc;
}


.h20 {
    height: 20px
}

#templatemo_header {
    width: 1500px;
    margin: 0 auto;
    padding: 30px 0;
}

#templatemo_main {
    width: 1500px;
    /*height: 800px;*/
    height: 825px;
    overflow: hidden;
    margin: 0 auto;
}

#content {
    overflow: hidden;
    width: 1500px;
    position: relative;
    /*height: 800px;*/
    height: 825px;
}

.section {
    position: relative;
    float: left;
    width: 1500px;
    height: 800px;
    margin-right: 20px;
}

.box {
    float: left;
    margin: 0 10px 10px 0
}

#home_about {
    /*background: rgba(0, 0, 0, .6);*/
    background: #26527C;
    opacity: 0.8;

    width: 500px;
    height: 610px
}

.home_box1 {
    width: 250px;
    height: 200px
}

.home_box2 {
    width: 550px;
    height: 200px
}

.home_box3 {
    width: 500px;
    height: 400px
}

.home_box4 {
    width: 300px;
    height: 400px;
}

.home_box5 {
    width: 660px;
    height: 200px
}

.home_box6 {
    width: 650px;
    height: 200px;
}

.home_box7 {
    width: 450px;
    height: 200px;
}

.color1 {
    background: #FF9200;
    opacity: 0.8;
}

.color2 {
    background: #c75000;
    opacity: 0.8;
}

.color3 {
    background: #FFC600;
    opacity: 0.8;
}

.color4 {
    background: #9DB82E;
    opacity: 0.8;
}

.color5 {
    background: #1D7373;
    opacity: 0.8;
}

.color6 {
    background: #a4c700;
    opacity: 0.8;
}

.color7 {
    background: #00afce;
    opacity: 0.8;
}

.messageCounter {
    position: relative;
    float: right;
    margin-top: 90px;
    margin-right: 80px;
    font-size: 150px;
    font-family: "Jersey M54 Font", Geneva, SansSerif, sans-serif;
}

p {
    text-indent: 1.5em
}

.center-img {
   /*float: contour;*/
}